.catalog__aside {
  flex-shrink: 0;
  width: 200px;
  padding-top: 13px;
}

.catalog__navigation-list {
  margin-bottom: 103px;
}

.catalog__price {
  margin-top: 103px;
}

.catalog__main {
  margin-top: 21px;
}

.catalog__pagination {
  margin: 23px 0 61px;
}
