.goods {
  @include list-reset;

  display: grid;
  display: -ms-grid;
  grid-template-columns: auto auto auto;
  -ms-grid-columns: auto 15px auto 15px auto;
  gap: 15px;

  @media (max-width: 1000px) {
    grid-template-columns: auto auto;
    -ms-grid-columns: auto 15px auto;
  }

  @media (max-width: 850px) {
    grid-template-columns: auto;
    -ms-grid-columns: auto;
  }
}

.goods__item {
  margin-bottom: 5px;
}
