.navigation {
  @include list-reset;
}

.navigation__sublist {
  @include list-reset;

  transform: translateY(-3px);
}

.navigation__link {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.025em;
  color: #767676;

  &--active {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}

.navigation__subitem {
  position: relative;

  padding-left: 19px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: #767676;
  }
}

.navigation__sublink {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.025em;
  color: #767676;

  &:hover,
  &:focus {
    border-bottom: 1px solid #767676;
    color: #010101;
  }

  &:active {
    opacity: 0.8;
  }
}
