.pagination {
  @include list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  font-size: 14px;
  line-height: 22px;
  color: #767676;

  &--current {
    font-size: 18px;
    color: #444444;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}
