.price {
  text-align: center;
}

.price__image {
  display: block;
  margin: 0 auto;
}

.price__link {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #444444;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}
