.site-list {
  @include list-reset;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.site-list__item {
  position: relative;
  margin-right: 40px;
  padding-top: 19px;
  padding-bottom: 27px;

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -20px;

    width: 2px;
    height: 25px;

    background-color: #ffffff;
  }
}

.site-list__link {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}
